*, *:after, *:before {
    box-sizing: border-box;
    margin: 0px;
  }

body {
    min-height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#container .row {
    display: flex;
    flex: 1;
}

.row .aSqure {
    background-color: aqua;
    border: 1px solid darkgray;
    flex: 1;
}