*, *:after, *:before {
    box-sizing: border-box;
  }

#container {
    display: flex;
    flex-direction: column;
}

#container .row {
    display: flex;
}

.row .aSqure {
    background-color: aqua;
    border: 3px solid darkgray;
}